<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{user.creationTime | date}}</h6>
    <button class="btn btn-warning" (click)="update()">Bearbeiten</button>
    <button class="btn btn-danger" (click)="delete()">Löschen</button>
  </div>
</div>
